.container {
    padding-left: 50px;
}

.tableau-entete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
    width: 600px;

    margin: 5px;
}

.tableau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid green;
    width: 600px;

    margin: 5px;
}

.element {
    width: 33%;
    text-align: center;
    min-height: 20px;
    max-height: 20px;
}

label {
    margin-right: 50px;
}

